DakarRally/.vs/
DakarRally/DakarRally/obj/
DakarRally/DakarRally/bin/
DakarRally/Contracts/bin/
DakarRally/Contracts/obj/
DakarRally/DakarRally/db/localdb.db
DakarRally/Entities/bin/
DakarRally/Entities/obj/
DakarRally/Repository/bin/
DakarRally/Repository/obj/
DakarRally/DakarRally/logs/
DakarRally/DakarRally/db/localdb.db-shm
DakarRally/DakarRally/db/localdb.db-wal
DakarRally/Simulation/bin/
DakarRally/Simulation/obj/
